<div class="container">
  <div class="left-side">
    <form #pokemonForm="ngForm" (ngSubmit)="onSubmit(pokemonForm)">
      <div>
        <label for="id">ID:</label>
        <input type="number" id="id" name="id" ngModel required>
      </div>
      <div>
        <label for="type">Type:</label>
        <input #type="ngModel" type="text" id="type" name="type" ngModel appValidType required >
        @if(type.invalid && type.errors){
          <div class="error">There is no type like this</div>
        }
      </div>
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" ngModel required>
      </div>
      <div>
        <label for="imageLink">Image Link:</label>
        <input type="url" id="imageLink" name="imageLink" ngModel required>
      </div>
      <br/>
      {{ pokemonForm.value | json }}
      <br/>
      <button type="submit" [disabled]="!pokemonForm.valid">Take a look</button>
    </form>
  </div>
  <div class="right-side">
    <app-card [data]="examplePokemon"/>
  </div>
</div>
