.container {
  display: flex;
  width: 100%;
}

.left-side, .right-side {
  flex: 1;
  padding: 20px;
}


button {
  padding: 10px;
  margin-top: 16px;
}

.error {
  color: darkred;
  padding: 4px;
  font-size: 14px;
  margin-bottom: 8px;
}
