<div class="container">
  <div class="left-side">
    <form [formGroup]="pokemonForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="id">ID:</label>
        <input type="number" id="id" formControlName="id">
      </div>
      <div>
        <label for="type">Type:</label>
        <input type="text" id="type" formControlName="type">
        @if (pokemonForm.get('type')?.invalid && pokemonForm.get('type')?.dirty) {
          <div class="error">
            There is no type like this
          </div>
        }
      </div>
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name">
      </div>
      <div>
        <label for="imageLink">Image Link:</label>
        <input type="url" id="imageLink" formControlName="imageLink">
      </div>
      <br/>
      <pre> {{ pokemonForm.value | json }} </pre>
      <br/>
      <button type="submit" [disabled]="!pokemonForm.valid">Take a look</button>
    </form>
  </div>
  <div class="right-side">
    <app-card [data]="examplePokemon"/>
  </div>
</div>
