:host{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px;
}

form {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 400px;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #ccc;
}
